@import "@cubing/icons/css";

html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
}

div[data-overlay-container] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.active-link{
    color: hsl(37.03 91.27% 55.1%) !important;
}
