@import "@cubing/icons/css";

html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    overflow: hidden;
}

div[data-overlay-container] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
